* {
  font-family: Inter, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
}
form[name="new_instance"]:not([hidden]),
form[name="instance_config"]:not([hidden]) {
  display: inline;
}
td {
  border: 1px solid lightgray;
  vertical-align: top;
  white-space: nowrap;
  width: fit-content;
}
#instructions {
  white-space: normal;
  width: 20em;
}
input:invalid:required {
  background-color: lightpink;
}
button#add_source,
button.sensitivity {
  width: 100%;
}
