:root {
  --random-head-rotation: 0deg;
}

.active-top {
  animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  margin-bottom: -2px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(0, 0px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, -40px, 0) rotate(var(--random-head-rotation));
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, 0px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, -80px, 0) rotate(var(--random-head-rotation));
  }
}
