:root {
  --random-head-rotation: 0deg;

  --obs-token: "ws://localhost:4455";
  --obs-source-1: "Mic";
}

.active-top {
  animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  margin-bottom: -2px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(0, 0px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, -40px, 0) rotate(var(--random-head-rotation));
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, 0px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, -80px, 0) rotate(var(--random-head-rotation));
  }
}

.config-widget {
  position: relative;
}

.config-widget-slice-y-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 2px;
  background: red;
  box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.75);
  z-index: 42;
}
